.main-content{
    width: 95%;
    text-align: center;
}
h2,h3{
    padding: 0px;
    margin: 0px;
}
.delete-btn{
    padding: .2rem .4rem;
    background: rgb(255, 77, 77);
    border: 1px solid transparent;
    color: white;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}
.delete-btn:hover{
    background: rgb(136, 35, 35);
}



.main-content .post-area{
    text-align: center;
    position: relative;
    align-items: center;
    width: 100%;
}
.main-content .post-area .post{
    border-radius: 5px;
    position: relative;
    overflow: auto;
    background-color: white;
    height: 160px;
    width: 500px;
    overflow: hidden;
    display: inline-block;
    text-align: left;
}
.main-content .post-area .post .post-img{
    margin: 2px;
    height: 156px;
    width: 180px;
    display: inline-block;
}
.main-content .post-area .post .title{
    top: 0;
    position: absolute;
    display: inline;
    max-width: 60%;
    margin: 0;
}
.main-content .post-area .post button{
    position: absolute;
    bottom: 1px;
}
@media only screen and (max-width: 560px){
    .main-content .post-area .post .post-img{
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 4px;
    }
    .main-content .post-area .post{
        margin-top: 6px;
        overflow: visible;
        height: max-content;
        text-align: center;
        width: 94%;
    }
    .main-content .post-area .post .title{
        position: relative;
        width: 94%;
        line-height: 1.5em;
        height: auto;
    }
    .main-content .post-area .post button{
        position: relative;
        width: 90%;
    }
}