.main-content{
    width: 80%;
}
.main-content .main-title{
    text-align: center;
}
table{
    margin: 2px auto;
    width: 50%;
}

.main-content .add-topic{
    text-align: center;
width: 100%;}
.main-content .add-topic input{
    width: 30%;
    font-size: 1.4em;
}
.main-content .add-topic .topic-btn{
    padding: .4rem .4rem;
    background: rgb(54, 179, 110);
    border: 1px solid transparent;
    color: white;
}
.main-content .topics-area h2{
    text-align: center;
}
.main-content .topics-area{
    align-content: center;
width: 100%;
}
.main-content .topics-area table tbody tr{
    background: white;
    padding: 4px;
    margin-bottom: 60px;
}
.main-content .topics-area table tbody tr td .edit-btn{
    padding: .4rem .7rem;
    float: right;
    background: rgb(68, 42, 160);
    border: 1px solid transparent;
    color: white;
}
.main-content .topics-area table tbody tr td .delete-btn{
    padding: .4rem .7rem;
    float: right;
    background: rgb(168, 29, 29);
    border: 1px solid transparent;
    color: white;
}
.main-content .topics-area table tbody tr td h4{
    margin: 4px;
}

@media only screen and (max-width: 940px){
    table{
        width: 80%;
    }
    .main-content .add-topic input{
        width: 60%;
    }
}


@media only screen and (max-width: 530px){
    table{
        width: 100%;
    }
    .main-content .add-topic input{
        width: 90%;
    }
}
@media only screen and (max-width: 530px){
    .main-content{
        width: 95%;
    }
    .main-content .add-topic input{
        width: 100%;
    }
}